ENV=dev

# Email Settings
EMAILS_NOTIFICATIONS=your-email@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-password
EMAIL_USE_SSL=True

# Core Identity
COMPANY_NAME="Your Company Name"
TIME_ZONE=America/Mexico_City

# Integrations
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GOOGLE_CALENDAR_ID=
